bundler_args: --without development
cache: bundler
language: ruby
rvm:
  - jruby-18mode
  - jruby-19mode
  - jruby-9000
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - jruby-head
  - rbx-2
  - ruby-head
matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: rbx-2
    - rvm: ruby-head
  fast_finish: true
sudo: false
before_install:
  - gem update bundler
